@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  color: #FFF;
  font-size: 1.2rem;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",　Meiryo, sans-serif;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #8F8F8F;
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.first-view {
  width: 100%;
  height: 100%;
  background-image: url('img/top_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1EA3F4;
}

.top-contents {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 166px;
  height: 108px;
  margin: auto;
}

#particles-js {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.menu-frame {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 100px solid rgba(34, 44, 160, 0.5);
  border-left: 100px solid transparent;
  border-right: 100px solid rgba(34, 44, 160, 0.5);
  border-bottom: 100px solid transparent;
}

.menu-area {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 15;
}

#menu-btn {
  float: right;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 30px 30px 0 0;
}

#menu-btn-icon {
  display: block;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 8px;
  margin-top: -4px;
  background-color: #FFF;
  z-index: 250;
}

#menu-btn-icon:before, #menu-btn-icon:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 8px;
  background: #FFF;
  transition: .3s;
}

#menu-btn-icon:before {
  margin-top: -25px;
}

#menu-btn-icon:after {
  margin-top: 17px;
}

#menu-btn .close {
  background-color: transparent;
}

#menu-btn .close:before, #menu-btn .close:after {
  margin-top: 0;
}

#menu-btn .close:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#menu-btn .close:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 500px;
  border: 2px solid #FFF;
}

.menu-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 250px;
  height: 400px;
}

.menu-list-item {
  height: 80px;
  text-align: center;
}

.menu-list-item-img:hover {
  opacity: 0.6;
}

.about-contents {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.about-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 500px;
}

.title {
  display: block;
  margin-bottom: 50px;
  text-align: center;
}

.frame {
  position: relative;
  left: 0;
  right: 0;
  width: 250px;
  height: 250px;
  margin: 0 auto 20px;
  border: solid 1px #FFF;
  border-radius: 50%;
}

.frame::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 220px;
  height: 220px;
  margin: auto;
  border: solid 1px #FFF;
  content: '';
}

.profile-img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.intro {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 130px;
  margin: auto;
}

.intro::before ,.intro::after {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  content: '';
}

.intro::before {
  top: 0;
  left: 0;
  border-top: 5px solid #FFF;
  border-left: 5px solid #FFF;
  content: '';
}

.intro::after {
  right: 0;
  bottom: 0;
  border-right: 5px solid #FFF;
  border-bottom: 5px solid #FFF;
  content: '';
}

.name-img {
  margin: 20px auto 30px;
}

.gallery-contents {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.gallery-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 290px;
  height: 420px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .gallery-container {
    width: 480px;
    height: 590px;
  }
}

@media screen and (min-width: 800px) {
  .gallery-container {
    width: 800px;
    height: 520px;
  }
}

.gallery-wrapper {
  width: 180px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .gallery-wrapper {
    width: 300px;
    height: 470px;
    bottom: 0;
  }
}

@media screen and (min-width: 800px) {
  .gallery-wrapper {
    width: 600px;
    height: 400px;
  }
}

.gallery-list {
    height: 300px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    transition: left .6s ease-in-out;
}

@media screen and (min-width: 480px){
  .gallery-list {
    height: 480px;
  }
}

@media screen and (min-width: 800px){
  .gallery-list {
    height: 400px;
  }
}

.gallery-list-item {
  float: left;
  width: 180px;
}

@media screen and (min-width: 480px){
  .gallery-list-item {
    width: 300px;
  }
}

@media screen and (min-width: 800px){
  .gallery-list-item {
    width: 600px;
  }
}

.gallery-list-container {
  float: left;
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 90px;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .gallery-list-container {
    width: 300px;
    height: 150px;
  }
}

@media screen and (min-width: 800px) {
  .gallery-list-container {
    width: 190px;
    height: 400px;
    margin-bottom: 0;
  }
}

.gallery-list-container:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .gallery-list-container:not(:last-child) {
    margin-right: 15px;
  }
}

.gallery-list-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media screen and (min-width: 800px) {
  .gallery-list-img {
    width: auto;
    height: 100%;
  }
}

.gallery-list-img:hover {
  width: 110%;
  height: auto;
}

@media screen and (min-width: 480px) {
  .gallery-list-img:hover {
    width: 110%;
    height: auto;
  }
}

@media screen and (min-width: 800px) {
  .gallery-list-img:hover {
    width: auto;
    height: 110%;
  }
}

.gallery-contents-button {
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.gallery-contents-button.prev {
  position: absolute;
  top: 60%;
  left: 0;
  height: 70px;
  font-size: 50px;
  color: #3F98C2;
  mix-blend-mode: multiply;
}

@media screen and (min-width: 480px) {
  .gallery-contents-button.prev {
    top: 53%;
    left: 0;
    width: 100px;
    height: 100px;
    font-size: 100px;
    margin-right: 0;
  }
}

.gallery-contents-button.prev::after {
  content: '◀︎';
  height: 70px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  font-size: 50px;
  mix-blend-mode: multiply;
  color: #AF004E;
}

@media screen and (min-width: 480px) {
  .gallery-contents-button.prev::after {
    height: 100px;
    font-size: 100px;
  }
}

.gallery-contents-button.next {
  height: 70px;
  position: absolute;
  top: 60%;
  right: 0;
  font-size: 50px;
  color: #3F98C2;
  mix-blend-mode: multiply;
}

@media screen and (min-width: 480px) {
  .gallery-contents-button.next {
    top: 53%;
    width: 100px;
    height: 100px;
    font-size: 100px;
    margin-right: 0;
  }
}

.gallery-contents-button.next::after {
  content: '▶︎';
  height: 70px;
  position: absolute;
  right: 0;
  bottom: 10px;
  margin: auto;
  font-size: 50px;
  mix-blend-mode: multiply;
  color: #AF004E;
}

@media screen and (min-width: 480px) {
  .gallery-contents-button.next::after {
    height: 100px;
    bottom: 10px;
    font-size: 100px;
  }
}

.gallery-contents-button:active::after {
  bottom: 0;
}

#gallery-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
}

#gallery-modal-item {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90vh;
  transform: translate(-50%, -50%);
  z-index: 15;
}

#gallery-modal-img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  z-index: 15;
}

.skill-contents {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('img/skill_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1EA3F4;
}

.skill-contents-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 560px;
  margin: auto;
}

.skill-list {
  position: absolute;
  left: 0;
  right: 0;
  height: 500px;
  margin: auto;
  font-size: 0;
}

@media screen and (min-width: 480px) {
  .skill-list {
    width: 450px;
  }
}

@media screen and (min-width: 800px) {
  .skill-list {
    width: 800px;
  }
}

.skill-list-item {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 33.3%;
}

@media screen and (min-width: 800px) {
  .skill-list-item {
    width: 33.3%;
    height: 50%;
  }
}

.skill-frame {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 10px;
}

@media screen and (min-width: 800px) {
  .skill-frame {
    width: 180px;
    height: 180px;
    margin: auto;
  }
}

.skill-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: #FFF;
}

@media screen and (min-width: 800px) {
  .skill-icon {
    width: 130px;
    height: 130px;
  }
}

.skill-icon-img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  height: auto;
}

.skill-rank {
  display: block;
  position: relative;
  width: 50%;
  height: auto;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .skill-rank {
    width: 60%;
  }
}

.skill-frame::before, .skill-frame::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #FFF;
}

.skill-frame::before {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 800px) {
  .skill-frame::before {
    width: 130px;
    height: 130px;
  }
}

.skill-frame::after {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (min-width: 800px) {
  .skill-frame::after {
    width: 150px;
    height: 150px;
  }
}

.contact-contents {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.contact-wrapper {
  width: 300px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .contact-wrapper {
    width: 480px;
    height: 580px;
  }
}

@media screen and (min-width: 700px) {
  .contact-wrapper {
    width: 100%;
    height: 570px;
  }
}

.contact-title {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-bottom: 30px;
  font-size: 16vmin;
  color: #f0f;
  -webkit-user-select: none;
  user-select: none;
}


.contact-title::before {
  content: 'Contact';
  position: absolute;
  top: 0.2vmin;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 16vmin;
  mix-blend-mode : multiply;
  color: #ff0;
  }

.contact-title::after {
  content: 'Contact';
  position: absolute;
  top: 1vmin;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 16vmin;
  mix-blend-mode : multiply;
  color: #0ff;
}

.contact-list {
  width: 300px;
  height: 230px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .contact-list {
    width: 400px;
    height: 310px;
  }
}

@media screen and (min-width: 700px) {
  .contact-list {
    width: 650px;
    height: 140px;
  }
}

.contact-list-container {
  position: relative;
  float: left;
  width: 50%;
}

@media screen and (max-width: 699px) {
  .contact-list-container {
    height: 100px;
  }
}

@media screen and (max-width: 699px) {
  .contact-list-container:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .contact-list-container {
    position: relative;
    float: left;
    width: 50%;
    height: 140px;
  }
}

@media screen and (min-width: 700px) {
  .contact-list-container {
    float: left;
    width: 25%;
  }
}

.contact-item {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  mix-blend-mode : multiply;
  background-color: #AF004E;
  vertical-align: middle;
}

@media screen and (min-width: 480px) {
  .contact-item {
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 700px) {
  .contact-item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: auto;
  mix-blend-mode : multiply;
  background-color: #3A97C4;
  z-index:-2;
  -webkit-transition: top, left .25s ease;
     -moz-transition: top, left .25s ease;
      -ms-transition: top, left .25s ease;
       -o-transition: top, left .25s ease;
          transition: top, left .25s ease;
}

@media screen and (min-width: 480px) {
  .contact-item::after {
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
}

.contact-item:hover::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: auto;
  mix-blend-mode : multiply;
  background-color: #3A97C4;
  z-index:-2;
}

@media screen and (min-width: 480px) {
  .contact-item:hover::after {
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
}

.contact-item-link {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

@media screen and (min-width: 480px) {
  .contact-item-link {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
}

.contact-item-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
}